$button-blue-gradient: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);

// Fonts
$font-light-gray: #C5C3C0;
$font-blue-hover: #47BFFF;
$font-gray: #AAAAAA;
// ----------------------

// Backgrounds
$bg-white: #F2F2F2;
$bg-lightgray: #EAEAEA;
$bg-gray: #BDBDBD;
$bg-heavy-gray: #AAAAAA;

$twitter-blue: #00acee;

$profile-theme: #212D36;

$edit-input-box: #1E2023;
$edit-input-font: #909090;
