<app-header></app-header>
<div class="outer-container">
  <div class="login-container">
    <form method="get" action="/login" (ngSubmit)="login()" [formGroup]="loginForm">
      <h1>LOGIN</h1>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter your username here" value="" [(ngModel)]="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password here" value="" [(ngModel)]="password">
      </div>
      <input type="submit" name="login" value="LOGIN">
      <a href="#">Forgot Password?</a>
      <a href="#">Forgot Username?</a>
    </form>
  </div>
</div>

