<app-header></app-header>
<div class="home-container">
  <div class="home-search-container">
    <div class="welcome-title">
      Welcome to brand sentiment analyser.
    </div>
    <div class="welcome-detail">
      Name something you wanna see on Twitter in the box below!
    </div>
    <ul class="nav nav-tabs" id="home-tabs">
      <li class="nav-item">
        <a href="#keyword" class="nav-link active" data-toggle="tab">Keyword</a>
      </li>
      <li class="nav-item">
        <a href="#hashtag" class="nav-link" data-toggle="tab">Hashtag</a>
      </li>
      <li class="nav-item">
        <a href="#user" class="nav-link" data-toggle="tab">User</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="keyword">
        <form class="container">
          <input type="text" name="search" class="search-bar" placeholder="Apple" [(ngModel)]="query" autocomplete="off">
          <button type="submit" class="search-button" (click)="submitQuery()"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
      </div>
      <div class="tab-pane fade" id="hashtag">
        <form class="container">
          <input type="text" name="search" class="search-bar" placeholder="#helloWorld" [(ngModel)]="query" autocomplete="off">
          <button type="submit" class="search-button" (click)="submitQuery()"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
      </div>
      <div class="tab-pane fade" id="user">
        <form class="container">
          <input type="text" name="search" class="search-bar" placeholder="Donald Trump" [(ngModel)]="query" autocomplete="off">
          <button type="submit" class="search-button" (click)="submitUserQuery()"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
      </div>
    </div>

  </div>
</div>

